<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/test_2.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="pricing-container">
  <div class="content">
    <h3>6개월</h3>
    <p>5 + 1회 이용권</p>
    <p>자기소개서 분석 + AI 모의면접 + AI 면접 분석결과 확인</p>
    <p>47000 원</p>
    <button>구매하기</button>
  </div>
  <div class="content">
    <h3>1개월</h3>
    <p>3회 이용권</p>
    <p>자기소개서 분석 + AI 모의면접 + AI 면접 분석결과 확인</p>
    <p>25000 원</p>
    <button>구매하기</button>
  </div>
  <div class="content">
    <h3>24시간</h3>
    <p>1회 이용권</p>
    <p>자기소개서 분석 + AI 모의면접 + AI 면접 분석결과 확인</p>
    <p>9900 원</p>
    <button>구매하기</button>
  </div>
</div>

</body>
</html>