<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>testList</title>
</head>
<body>
<a href="#bottom">맨 아래로 이동</a>
<header>
		<hgroup>
				<h1>목록 만들기 태그 연습</h1>
				<h3>목록 만들기 태그 : ol(order list), ul(unorder list), dl(definition list)</h3>
		</hgroup>
</header>
<hr>
<div id="d1">
		<h4>ol 태그 : 순번이 있는 목록 만들 때 사용</h4>
		<ol type="A"><!-- 순번 종류 : 1(기본), A, a, I, i 변경할 수 있음 -->
				<li>java</li>
				<li>oracle</li>
				<li>jdbc</li>
				<li>web front : html, css, javascript, jquery ajax</li>
				<li>web back : servlet, jsp</li>
				<li>spring & mybatis framework</li>
		</ol>
</div>

<div id="d2">
<h4>ul 태그 : 순번이 없는 목록 만들 때 사용, 뷸릿 기호가 표시됨</h4>
		<ul type="disc" ><!-- 기호의 종류 : circle(속이 빈 원), disc(검정색 원), square(검정색 사각형) -->
				<li>java</li>
				<li>oracle</li>
				<li>jdbc</li>
				<li>web front : html, css, javascript, jquery ajax</li>
				<li>web back : servlet, jsp</li>
				<li>spring & mybatis framework</li>
		</ul>
</div>
<div id="d3">
		<h4>dl : definition list (정의 목록) 표시용 태그</h4>
		<dl>
				<dt>HTML5</dt> <!-- definition title : 용어 -->
				<dd>
				HTML5란 웹 브라우저에 표현되는 콘텐츠를 작성하기 위해 고안된 차세대 웹 표준 마크업 언어로써
				액티브X, 플래시 (Flash), 실버라이트(Silverlight) 등 플러그인을 요구하지
				않는'Non-플러그인'방식을 사용하는 언어다.
				</dd>
				<dt>CSS3</dt>
				<dd>
				CSS(Cascading Style Sheets)는 HTML 및 XML 기반 문서의 스타일과 레이아웃을 정의하기 위한 스타일 시트 언어.
				웹 페이지의 시각적인 표현을 다루며, 웹 페이지의 색상, 레이아웃, 폰트, 크기, 간격 등을 지정하여 디자인할 수 있다.
				</dd>
				<dt>JAVASCRIPT</dt>
				<dd>
				자바스크립트는 ‘웹페이지에 생동감을 불어넣기 위해’ 만들어진 프로그래밍 언어입니다.
				자바스크립트로 작성한 프로그램을 스크립트(script) 라고 부릅니다. 스크립트는 웹페이지의 HTML 안에 작성할 수 있는데,
				웹페이지를 불러올 때 스크립트가 자동으로 실행됩니다.스크립트는 특별한 준비나 컴파일 없이 보통의 문자 형태로 작성할 수 
				있고, 실행도 할 수 있습니다.이런 관점에서 보면 자바스크립트는 자바(Java)와는 매우 다른 언어라고 할 수 있습니다.
				</dd>
		</dl>

</div>
<div id="d4">
		<h4>pre 태그 : 작성한 모양 그대로 출력시 사용하는 태그임</h4>
		<pre>
    		            ★
			   ★★
			  ★★★
			 ★★★★
			   ||		
		</pre>

</div>

<hr>
<a name="bottom">맨 아래쪽 위치 이름 지정함</a>

</body>
</html>